



#header nav li a.social-link{
	display: inline;
}

#footer li a.social-link{
	display: inline;
}

#footer .footer-nav li.social-item:hover{
	background: none;
}

#header .header-nav li.social-item:hover{
	background: none;
}

#header .header-nav .col-sm-2{
	padding-left: 0;
}

#footer .footer-nav .col-sm-2{
	padding-left: 0;
}


@media all and (min-width: 300px) {

	#filters{
		position: fixed !important;
		top: 60px !important;
	}
	
	.after #filters{
		position: fixed !important;
		top: 60px !important;		
	}

}

@media all and (min-width: 1440px) {

	#filters{
		position: fixed !important;
		top: 140px !important;
	}
	
	.after #filters{
		position: fixed !important;
		top: 140px !important;		
	}
	
	#about_publications li {
		min-height: 390px;
	}

}


a{
	outline: 0 !important;
}

.ie a{
	outline: 0;
	text-decoration: none;
}

#header.open{
	overflow: scroll !important;
}

text-rendering: auto;

.single-project .flexslider-project .slides .flex-active-slide {
opacity: 1;
}



@media all and (min-width: 1440px) and (max-height: 600px) {

#header.open{
	height: 100%;
}

}


@media all and (max-width: 1440px) and (max-height: 740px) {

#header.open{
	height: 100%;
}

}


#ie-warning{
	position: relative; 
	top: 0%;
	 left: 00%; 
	 width : 100%; 
	 height: auto; 
	 background-color: white; 
	 z-index: 9999;
	 border-bottom: 2px solid gray;
	 
}

#ie-close .icon:before{
	font-size: 27px;
	line-height: 27px;
}

.ie-warning-container{
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}
